@charset "utf-8";
@charset "utf-8";
:root {
  --color-danger: #eb3d26;
  --color-alert: #f87e25;
  --color-success: #4caf50;
  --color-info: #368ace;
  --mf-red: #c6120e;
  --mf-darkred: #940f05;
  --mf-brown: #432c20;
  --mf-darkbrown: #1f0c05;
  --mf-lightgray: #f8f2f2;
  --mf-gray: #efe3e3;
  --mf-darkgray: #e0d1d1;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar:hover {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #cfced6;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bcbcbd;
}

html {
  background: var(--mf-lightgray);
  height: 100%;
  overflow-x: hidden;
}

html.noscroll {
  overflow: hidden;
  visibility: hidden;
}

body {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  font-size: 16px;
  height: 100%;
}

body * {
  line-height: 22px;
}

::selection {
  background: var(--mf-darkred);
  color: #fff;
  text-shadow: 0 1px 0 #00000040;
}

hr {
  margin: 25px 0;
  padding: 0;
  width: 100%;
  clear: both;
  border: none;
  border-top: 1px solid #84848440;
  border-bottom: 1px solid #fff;
}

a {
  color: var(--mf-darkred);
  text-decoration: underline;
  transition: all 0.3s linear;
  cursor: pointer;
}

a:visited {
  color: var(--mf-darkred);
}

a:active,
a:hover {
  color: var(--mf-red);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

h1 {
  line-height: 50px;
  font-size: 40px;
  font-weight: 200;
}

h2 {
  line-height: 40px;
  font-size: 36px;
  font-weight: 200;
}

h3 {
  line-height: 34px;
  font-size: 28px;
  font-weight: 300;
}

h4 {
  line-height: 28px;
  font-size: 24px;
  font-weight: 300;
}

h5 {
  line-height: 24px;
  font-size: 20px;
  font-weight: 300;
}

p {
  margin: 0 0 10px;
}

span.small,
p.small {
  font-size: 90%;
}

span.light,
p.light {
  color: #aaa;
}

* > p:last-child {
  margin: 0;
}

ol:not([class]),
ul:not([class]) {
  margin: 0 0 10px;
  padding: 0;
}

ol:not([class]):last-child,
ul:not([class]):last-child {
  margin-bottom: 0;
}

p + ol:not([class]),
p + ul:not([class]) {
  margin-top: 10px;
}

ol:not([class]) li,
ul:not([class]) li {
  margin: 0 0 2px;
  list-style-position: inside;
}

ul:not([class]) li {
  list-style-type: square;
}

ul:not([class]) li::marker {
  color: var(--grey-blue);
  font-size: 80%;
}

form {
  display: block;
  clear: both;
  width: 100%;
}

label {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 10px;
  text-align: left;
}

label[data-width='full'] {
  width: 100%;
}

label[data-width='half'] {
  width: 50%;
}

label[data-width='third'] {
  width: calc(100% / 3);
}

label[data-align='left'] {
  text-align: left;
}

label[data-align='right'] {
  text-align: right;
}

label[data-align='center'] {
  text-align: center;
}

label > * {
  user-select: none;
}

label[data-placeholder]:before {
  content: '';
  position: absolute;
  left: 10px;
  top: -5px;
  height: 0;
  background: #fff;
  font-weight: bold;
  opacity: 0;
  transition: all 0.2s linear;
}

label[data-active='true'][data-placeholder]:before {
  content: attr(data-placeholder);
  height: 10px;
  line-height: 10px;
  font-size: 10px;
  padding: 0 5px;
  opacity: 1;
  border-radius: 3px;
}

label[data-placeholder]:after {
  content: '';
  position: static;
  font-size: 0;
  opacity: 0;
  transition: all 0.2s linear;
}

label[data-invalid='true'][data-placeholder]:after {
  content: attr(data-handler);
  display: block;
  text-align: left;
  font-size: 11px;
  color: #d40000;
  font-weight: bold;
  opacity: 1;
}

label[data-invalid='true'] input {
  border-color: #d40000;
  box-shadow: 0 0 1px #d40000;
}

.button,
button,
input,
select,
textarea {
  appearance: none;
  transition: box-shadow 0.2s linear;
}

a.button {
  text-decoration: none;
  color: inherit;
}

a.button.light {
  background: #fff;
  color: #333;
}

.button,
.input-file,
button,
input,
select,
textarea {
  display: inline-block;
  border: 1px solid #848484;
  background: #fff;
  outline: 0;
  border-radius: 20px;
  text-transform: uppercase;
}

.button:hover,
.input-file:hover,
button:hover,
input:hover,
input[type='submit']:hover,
select:hover,
textarea:hover {
  border-color: var(--mf-darkred);
}

input:focus,
select:focus,
textarea:focus {
}

.input-file,
input[type='datetime-local'],
input[type='file'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='date'],
select:not([multiple]),
textarea {
  padding: 0 10px;
  line-height: 30px;
  width: 100%;
  border-radius: 2px;
  text-transform: none;
}

input[type='file'] {
  position: relative;
  box-sizing: border-box;
  padding: 0 120px 0 10px;
  height: 40px;
  line-height: 36px;
}

input[type='file']::file-selector-button {
  position: absolute;
  left: auto;
  height: 40px;
  line-height: 36px;
  right: 0;
  width: 120px;
  text-align: center;
  font-size: 14px;
  margin: -1px 0 -1px 10px;
  border-radius: 0;
  outline: none;
  border: none;
  background: var(--mf-darkred);
  color: #fff;
  cursor: pointer;
  transition: all .2s linear;
}

input[type='file']::file-selector-button:hover {
  background: var(--mf-red);
}

.input-file,
input[type='datetime-local'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='date'],
select:not([multiple]) {
  height: 40px;
}

input[type='range'] {
  height: 5px;
  border-radius: 0;
  border: none;
}

input[type='range']:focus {
  outline: 0;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: var(--mf-darkred);
  cursor: pointer;
  margin: -8px 0 0;
  border: 1px solid #33878a;
}

input[type='range']::-webkit-slider-runnable-track {
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 0;
  cursor: pointer;
  background: #dde7e7;
  border-bottom: 1px solid #cbd4d4;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--mf-darkred);
}

input[type='radio'] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 0 7px 0 0;
  border: 2px solid #848484;
  border-radius: 4px;
  transition: border-color 0.2s linear;
}

input[type='radio']:hover {
  border-color: var(--mf-darkred);
}

input[type='radio'] {
  border-radius: 20px;
}

input[type='checkbox'][disabled],
input[type='radio'][disabled] {
  background-color: #f2f5f5;
  border-color: #dde7e7;
}

input[type='radio']:checked {
  background-image: url(/i/round.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 0 7px 0 0;
  border-radius: 2px;
}

input[type='checkbox']:hover {
  filter: grayscale(0);
}

input[type='checkbox']:checked {
  background-image: url(/i/checked.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 18px;
}

input[type='color'] {
  position: relative;
  padding: 0;
  margin: -4px 7px -4px -3px;
  vertical-align: middle;
  height: 38px;
  width: 38px;
  background: 0 0;
  border: none;
}

select:not([multiple]) {
  padding-right: 30px;
  background-image: url(/i/expander.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
  background-size: 12px;
  color: inherit;
  line-height: 22px;
}

select:not([multiple]) > option:nth-child(even) {
  background: #f2f5f5;
}

.button,
a.button,
.input-file,
button,
button.btn input[type='button'],
input[type='reset'],
input[type='submit'] {
  letter-spacing: 1px;
  padding: 0 15px;
  height: 34px;
  line-height: 34px;
  background: var(--mf-darkred);
  color: #fff;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s linear;
  text-shadow: 0 1px 0 #00000030;
}

.button:hover,
.input-file:hover,
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  background: var(--mf-darkred);
}

.button:active,
.input-file:active,
button:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active {
  background: var(--mf-darkred);
}

.button:disabled,
.input-file[data-disabled],
button:disabled,
input[type='button']:disabled,
input[type='reset']:disabled,
input[type='submit']:disabled {
  background: #f2f5f5;
  color: #798787;
}

textarea {
  resize: none;
}

input[type='date'] {
  width: 100%;
  overflow: hidden;
  border: 1px solid #848484;
}

input[type='date']::-webkit-calendar-picker-indicator {
  display: block;
  position: absolute;
  right: 10px;
  height: 30px;
  width: 30px;
  background: url(/i/date.svg) no-repeat center center;
  background-size: 20px 20px;
  opacity: 0.5;
  transition: all 0.2s linear;
}

input[type='date']:hover::-webkit-calendar-picker-indicator {
  opacity: 1;
}

input[type='date']::-webkit-datetime-edit-fields-wrapper {
  width: auto;
  font-size: 12px;
  font-family: inherit;
}

input.has-value-variants {
  padding-right: 25px;
  background-size: 11px;
}

input + .value-variants {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: auto;
  max-height: 0;
  opacity: 0;
  z-index: 3;
  background: #fff;
  box-shadow: 0 2px 7px #00000020;
  overflow: hidden;
}

table {
  border: none;
  border-collapse: collapse;
}

table tr {
  margin: 0;
}

table tr:nth-child(even) {
  background: rgba(242, 245, 245, 0.5);
}

table td {
  margin: 0;
  padding: 12px 10px;
  border: 1px solid #dde7e7;
}

table tbody tr:first-child td {
  border-top: none;
}

table th {
  padding: 10px;
  font-weight: normal;
  font-size: 14px;
  background: #f2f5f5;
  border: 1px solid #dde7e7;
  border-top: none;
  border-bottom: none;
  vertical-align: bottom;
}

div.spinner {
  position: fixed;
  display: block;
  width: 200px;
  height: 200px;
  margin: -100px;
  left: 50%;
  top: 50%;
  background: url(/i/loading.svg) no-repeat center center;
  background-size: contain;
  text-align: center;
  font-weight: bold;
}

main#app *.hidden {
  visibility: hidden;
  display: none;
}

main#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  background: none;
}

main#app:before {
  content: "";
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: 90px;
  background: radial-gradient(#22000060, transparent);
  filter: blur(20px);
  z-index: 2;
}

main#app header {
  padding: 10px 20px;
  flex: 0 0 auto;
  background: linear-gradient(to bottom, var(--mf-gray), var(--mf-darkgray));
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  object-fit: cover;
  background: url(../i/paper-mask.png) no-repeat center bottom;
  background-size: 100% 200%;
}

main#app header #sitelogo {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

main#app header .header-row-wrapper {
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 300px);
  max-width: 1000px;
  min-height: 70px;
  line-height: 70px;
  text-align: center;
}

main#app header .header-row-wrapper > * {
  line-height: inherit;
  display: inline-block;
}

main#app header a.button {
  letter-spacing: 2px;
  margin: 0 2px;
  box-shadow: 0 2px 7px #00000020;
}

nav[data-role="header-menu"] {
  margin: 0 20px;
}

nav[data-role="header-menu"] > * {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 15px;
}

nav[data-role="header-menu"] a {
  color: var(--mf-red);
  text-decoration: none;
  border-bottom: 1px dotted var(--mf-darkbrown);
}

nav[data-role="header-menu"] a:hover {
  border-bottom-style: solid;
}

nav[data-role="header-menu"] span {
  color: #fff;
  text-shadow: 1px 0 1px var(--mf-darkbrown), 0 1px 1px var(--mf-darkbrown), -1px 0 1px var(--mf-darkbrown), 0 -1px 1px var(--mf-darkbrown);
}

main#app article {
  flex: 1 0 auto;
}

main#app article#page-content {
  margin-top: 80px;
  padding: 0;
}

article > section {
  margin: 0 auto; 
}

article > section:empty,
article#page-content:empty {
  display: none;
  visibility: hidden;
}

article section.content-wrapper {
  text-align: left;
  padding: 30px 20px;
}

main#app footer {
  font-weight: 200;
  font-size: 14px;
  flex: 0 0 auto;
  padding: 50px 20px;
  background: var(--mf-darkbrown);
  color: #ffffff70;
  text-shadow: 0 1px 0 #00000070;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
}

main#app footer:after {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  display: block;
  height: 4px;
  width: 100%;
  background: #ffffff30;
  transform: rotate(-.5deg);
}

main#app footer #footer-logo {
  filter: invert(1) hue-rotate(160deg) drop-shadow(0 2px 10px #00000020);
}

main#app footer hr {
  border: none;
  border-bottom: 1px dotted #ffffff20;
}

main#app article,
main#app footer {
  position: relative;
}

main#app header > *,
main#app footer > * {
  position: relative;
  z-index: 5; 
}

main#app footer:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../i/noize.png) repeat;
  opacity: .3;
  z-index: 1;
}

main#app footer .footer-copyright {
  color: var(--mf-gray);
  font-size: 16px;
}

main#app footer nav[data-role="footer-navigation-links"] a {
  margin: 0 5px;
}

main#app footer a {
  color: #ffffff80;
}

main#app footer a:hover {
  color: #fff;
}



span[data-placeholder='true'] {
  display: block;
  background: #00000010;
  height: 20px;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

span[data-placeholder='true']:before {
  content: '';
  position: absolute;
  left: -50px;
  top: -50px;
  height: 140px;
  width: 100px;
  transform: rotate(15deg);
  background: linear-gradient(transparent, #ffffff80, transparent);
  background-blend-mode: hard-light;
  filter: blur(2px);
  animation: 2s ease-in-out 0s infinite blink_to_right;
}

/* Modals */
.overlay:not(:empty) {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #59707170;
  backdrop-filter: blur(3px);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  position: relative;
  display: block;
  background: #fff;
  width: fit-content;
  margin: 0 auto;
  min-height: 100px;
  min-width: 200px;
  text-align: left;
  padding: 50px 20px 20px;
  border: 1px solid #e5e5e5;
  border-bottom-width: 3px;
  box-shadow: 0 7px 25px #00000030;
  border-radius: 2px 2px 5px 5px;
}

header+.window {
  position: fixed;
  z-index: 100;
  top: 10%;
}

.window[data-header='false'] {
  padding: 30px 40px;
}

.window .window-header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  user-select: none;
}

.window .window-header-title {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 60px 0 20px;
  font-size: 11px;
  text-transform: uppercase;
  color: #777;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  border-bottom: 1px dotted #eee;
}

.window span.window-action {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  width: 40px;
  height: 30px;
  font-size: 0;
  background: #eb3d26 url(/i/close.svg) no-repeat center center;
  background-size: 60%;
  cursor: pointer;
  transition: all 0.2s linear;
}

.window span.window-action:hover {
  background-color: #d72c00;
}

.window .window-actions {
  display: flex;
}

.window .window-actions button {
  height: 40px;
  line-height: 40px;
}

.window .window-actions button:last-of-type {
  margin-left: auto;
  order: 2;
}

/* Toasts */
dialog.toast {
  text-align: left;
  display: block;
  position: fixed;
  background: #f2f5f595 url(/i/info.svg) no-repeat 14px 14px;
  background-size: 16px;
  backdrop-filter: blur(10px);
  padding: 10px 20px 10px 40px;
  height: 70px;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  border: 1px solid #aaafaf;
  box-shadow: 0 2px 15px #00000025, inset 0 1px 0 #ffffff90;
  border-radius: 3px;
  font-size: 14px;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.2s linear;
}

dialog.toast + dialog.toast {
  top: 100px;
}

dialog.toast + dialog.toast + dialog.toast {
  top: 180px;
}

dialog.toast + dialog.toast + dialog.toast + dialog.toast {
  top: 260px;
}

dialog.toast .toast-title {
  display: block;
  clear: both;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

span.form-message {
  text-align: left;
  display: block;
  background: #f2f5f595 url(/i/info.svg) no-repeat 14px 14px;
  background-size: 16px;
  backdrop-filter: blur(10px);
  border: 1px solid #aaafaf;
  padding: 10px 20px 10px 40px;
  margin: -20px -20px 10px;
  width: calc(100% + 40px);
  user-select: none;
}

aside span.form-message {
  margin: 0 5px 20px;
  width: calc(100% - 10px);
}

span.form-message:last-child {
  margin-bottom: -20px;
}

span.form-message[data-type='error'], 
dialog.toast[data-type='error'] {
  background: #fdece995 url(/i/error.svg) no-repeat 14px 14px;
  background-size: 16px;
  border-color: var(--color-danger);
  box-shadow: 0 2px 15px #eb3d2625, inset 0 1px 0 #ffffff90;
}
span.form-message[data-type='info'], 
dialog.toast[data-type='info'] {
  background: #eef7ff95 url(/i/info-c.svg) no-repeat 14px 14px;
  background-size: 16px;
  border-color: var(--color-info);
  box-shadow: 0 2px 15px #368ace25, inset 0 1px 0 #ffffff90;
}
span.form-message[data-type='warning'], 
dialog.toast[data-type='warning'] {
  background: #fff1e795 url(/i/alert.svg) no-repeat 14px 14px;
  background-size: 16px;
  border-color: var(--color-alert);
  box-shadow: 0 2px 15px #f87e2525, inset 0 1px 0 #ffffff90;
}
span.form-message[data-type='success'], 
dialog.toast[data-type='success'] {
  background: #ecf9f495 url(/i/success.svg) no-repeat 14px 14px;
  background-size: 16px;
  border-color: var(--color-success);
  box-shadow: 0 2px 15px #4caf5025, inset 0 1px 0 #ffffff90;
}

nav[role='paging'] {
  display: block;
  width: 100%;
  text-align: left;
  margin: 20px 0;
  font-size: 14px;
}

nav[role='paging'] a,
nav[role='paging'] span {
  display: inline-block;
  color: #333;
  padding: 0 10px;
  height: 40px;
  width: auto;
  min-width: 40px;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 2px;
}

nav[role='paging'] a:hover {
  background: #00000010;
}

nav[role='paging'] span.active {
  color: #fff;
  background: var(--mf-darkred);
  text-shadow: 0 1px 0 #00000010;
}

nav[role='paging'] a.next-page-link,
nav[role='paging'] a.prev-page-link {
  color: #131314;
  font-weight: bold;
}

nav[role='paging'] a.next-page-link:after,
nav[role='paging'] a.prev-page-link:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 20px;
  margin: 0;
}

nav[role='paging'] a.next-page-link:after {
  background: url(/i/paging-next.svg) no-repeat center center;
  background-size: 50%;
  filter: drop-shadow(0 1px 0 #fff);
}
nav[role='paging'] a.prev-page-link:before {
  background: url(/i/paging-prev.svg) no-repeat center center;
  background-size: 50%;
  filter: drop-shadow(0 1px 0 #fff);
}

/* Dark theme */
[data-theme='dark'] {
  filter: invert(0.9) hue-rotate(180deg);
}

[data-theme='dark'] img {
}

/* Formatted headers */
.vintage-subheader, 
.vintage-header {
  display: block;
  position: relative;
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: 300;
  transform: matrix(1, -0.10, -.2, 1, 0, 0);
  text-align: center;
}
.vintage-subheader {
  font-weight: bold;
}
.vintage-header {
  color: var(--mf-darkbrown);
  font-size: 55px;
  letter-spacing: 5px;
  text-shadow: 4px 5px var(--mf-gray), 6px 7px #c6a39a;
}
.vintage-header > span {
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  font-size: 80%;
  color: #ffffff95;
}
.vintage-subheader:before,
.vintage-subheader:after {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 8px;
  border-top: 2px solid var(--mf-brown);
  border-bottom: 2px solid var(--mf-brown);
}
.vintage-subheader:before {
  margin: 10px 0 0 -30px;
}
.vintage-subheader:after {
  margin: 10px 0 0 10px;
}

p.ligher {
  color: #766767;
}

*[data-loading="true"] > *:not(.loader) {
  position: relative;
  filter: blur(5px);
}

*[data-loading="true"] .loader {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  margin: -35px !important;
}

article form:empty() {
  display: none;
  visibility: hidden;
}

/* assessment out */

.company-assessment {
  display: block;
  margin: 5px auto;
  padding: 0;
  font-size: 12px;
  color: #00000070;
}
.company-assessment > span {
  font-weight: bold;
  font-size: 16px;
  color: #211;
}
.company-assessment > span:before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  margin: 0 4px -2px 0;
  background: url(/i/star.svg) no-repeat center center;
  background-size: contain;
}