              </td>
            </tr>
            <tr>
              <td style="padding: 30px 80px 60px; text-align: center; border-top: 10px solid #000; font-size: 14px; color: #b6b6b6" bgcolor="#333333">
                <p style="font-size: 10px; color: #ccc;">Это сообщение было сгенерированно автоматически, нет нужды на наго отвечать.</p>
              </td>
            </tr>
          </table>
        </td>
        <td width="20%"></td>
      </tr>
    </table>
  </body>
</html>