<%= render "html_mail_header" %>
<h3>Здравствуйте, <%=@login%></h3>
<p>Ваш аккаунт был заблокирован. К сожалению вы не сможете пользоваться сервисом.</p>
<p><%=@reason%></p>
<%= render "html_mail_footer" %>