<%= render "html_mail_header" %>
<h3>Здравствуйте, <%=@login%></h3>
<p>Ваш аккаунт был разблокирован. Вы можете продолжать пользоваться сервисом в обычном режиме.</p>
<p><%=@reason%></p>
<%= render "html_mail_footer" %>